body{
    background:#322b2b;
    font-family: sans-serif;
    font-weight: bolid;
    color: #a82c2c;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}
.card{
    padding: 30px;
    margin: 2%;
    background: #dbbdbd;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: .2s all;
    cursor: pointer;
}
.container:hover .card{
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}
.container:hover .card:hover{
    filter: blur(0px);
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    background:#a82c2c;
    color: white;
}